<%- include ("../../partials/header.ejs") %>
<%- include ("../../partials/navbar.ejs") %>
<body>
    <div class="container">
        <hr>
        <div class="card text-left">
            <div class="card-header">
                <h4>Edição de artigo</h4>
            </div>
            <div class="card-body">
                <form method="POST" action="/articles/update">
                    <input type="text" name="title" placeholder="Redefina o titulo da artigo" class="form-control" value="<%= article.title %>"><br>
                    <textarea class="form-control" placeholder="Reescreva o artigo aqui" name="body" id="article" cols="30" rows="10"><%- article.body %></textarea><br>
                    <select name="category" class="form-control" >
                        <% categories.forEach( (category) => { %>
                            <% if(category.id === article.categoryId) { %>
                                <!-- Atributo selected faz com que o valor de id da categoria seja o mesmo do artigo e assim aparece esse valor no selected
                                e nao a primeira categoria do select-->
                                <option value="<%= category.id%>" selected> <%= category.title%> </option> 
                            <% } else {  %>
                                <option value="<%= category.id%>"> <%= category.title%> </option>
                            <% } %>
                            
                        <%}) %>
                    </select>    
                    <input type="hidden" name="id" value="<%= article.id %>">
                    <br>
                    <button class="btn btn-success">Atualizar artigo</button>
                </form>
            </div>
        </div>
    </div>
</body>

<%- include ("../../partials/footer.ejs") %>\

<script src="/tinymce/tinymce.min.js"></script>
<script>
    tinymce.init({
        language: "pt_BR",
        selector: "textarea#article",
        plugins: [
            'advlist',
            'autolink',
            'link',
            'image',
            'lists',
            'preview',
            'searchreplace',
            'wordcount',
            'fullscreen',
            'insertdatetime',
            'media',
            'save',
            'table',
            'emoticons',
        ]
    })

</script>
